<div class="modal-header list-group-item active">
    <h3 class="modal-title">Update Car</h3>
</div>
<div class="modal-body">		
    <form  role="form" name="form" ng-show="!success" novalidate show-validation ng-controller="RegisterController">
    	<div class="alert alert-success" ng-show="success" >
                <strong>Car Saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="{{carError}}">
                <strong>An Error Occured!</strong> Please check your input and try again.
            </div>
        <div class="form-group" >
        	<h3 >Car Details</h3>
        	<div class="row">
        		<div class="col-sm-6">
        			<label>Make</label>
                	<select class="form-control" name="make" ng-model="car.make" ng-minlength=1 required ng-change="getModels(car.make)">
		        		<option value="" disabled selected>Select make</option>
		        		<option ng-repeat="make in makes" value="{{make.id}}">{{make.make}}</option>
		        	</select>
        		</div>
                
                <div class="col-sm-6">
                	<label>Model</label>
                	<select class="form-control" name="model" ng-model="car.model" ng-minlength=1 required>
		        		<option value="" disabled selected>Select model</option>
		        		<option ng-repeat="model in models" value="{{model.id}}">{{model.model}}</option>
		        	</select>
                </div> 
            </div>
            <div>
            	<label>Year</label>
            	<select class="form-control" name="model" ng-model="car.year" ng-minlength=1 required>
	        		<option value="" disabled selected>Select year</option>
	        		<option ng-repeat="year in years" value="{{year}}">{{year}}</option>
	        	</select>
            </div>
		</div>
        <div>
        	<button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="addEditCar(); cancel();">Update</button>
    		<button class="btn btn-primary" ng-click="cancel()">Close</button>
        </div>
	</form>
</div>
